const uswds = require("@uswds/compile");

/**
 * USWDS version
 * Set the version of USWDS you're using (2 or 3)
 */

uswds.settings.version = 3;

/**
 * Path settings
 * Set as many as you need
 */

uswds.paths.dist.css = './{{ app_name }}/{{ app_name }}/static/css';
uswds.paths.dist.img = './{{ app_name }}/{{ app_name }}/static/img';
uswds.paths.dist.fonts = './{{ app_name }}/{{ app_name }}/static/fonts';
uswds.paths.dist.js = './{{ app_name }}/{{ app_name }}/static/js';
uswds.paths.dist.sass = './{{ app_name }}/{{ app_name }}/static/sass';

/**
 * Exports
 * Add as many as you need
 */

exports.init = uswds.init;
exports.compile = uswds.compile;
exports.copyAssets = uswds.copyAssets;
