{
  "name": "{{ app_name }}",
  "version": "1.0.0",
  "description": "========================",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "CC0-1.0",
  "dependencies": {
    "@uswds/uswds": "^3.0.2",
	"@uswds/compile": "^1.0.0-beta.3"
  }
}
