[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-csp = "*"
django-debug-toolbar = "*"
cfenv = "*"
gunicorn = {version = "*", extras = ["gevent"]}
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
wait4it = "*"
django-webtest = "*"
nplusone = "*"
coverage = "*"
flake8 = "*"
black = "*"
bandit = "*"
