[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cfenv = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
flake8 = "*"
black = "*"
bandit = "*"
