[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
requests = "*"
django = "*"
click = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
pytest-click = "*"

[requires]
python_version = "3.10"
