name: Django tests

on: [pull_request]

jobs:
  unittests:
    name: Unit tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports: ["5432:5432"]
        env:
          POSTGRES_DB: {{ app_name }}_test
          POSTGRES_USER: cidbuser
          POSTGRES_PASSWORD: postgres

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/setup-languages

      - name: Run Tests
        run: |
          pipenv run python manage.py test
        working-directory: {{ app_name }}
