name: Code linting

on:
  push:
  pull_request:
    types: [opened, reopened]


jobs:
  linting:
    name: Code linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/setup-languages

      - name: Run Linters
        run: |
          pipenv run flake8
          pipenv run black --check --diff .
